.Header{
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header-left {
  display: flex;
  padding: 2em 3em 0 0;
}
.header-logo{
  padding: 0 4em;

}
.header-logo img{
  height: 12em;
  width: auto;
}
.hamburger{
  border: none;
  background-color: transparent;
  height: 3em;
  width: 3em;
}