#search {
  background: white url(../../assets/images/magnifyingglass.png) left no-repeat;
  background-size: auto;
  background-origin: padding-box;
  background-size: 2em Auto;
  background-origin: content-box;
  text-indent: 2.5em;
  padding: 0.5em;
  margin-right: 2em;
  border: hidden;
  border-radius: 20px;
  font-size: large;
  height: 2.5em;
  width: 18em;
}