# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/atomic_frontend/node_modules
/atomic_frontend/.pnp
/atomic_frontend/.pnp.js

# testing
/atomic_frontend//coverage

# production
/atomic_frontend//build
/atomic_frontend/dist

# misc
/atomic_frontend/.DS_Store
/atomic_frontend/.env.local
/atomic_frontend/.env.development.local
/atomic_frontend/.env.test.local
/atomic_frontend/.env.production.local

/atomic_frontend/npm-debug.log*
/atomic_frontend/yarn-debug.log*
/atomic_frontend/yarn-error.log*

# dependencies
/frontend/node_modules/*
/frontend/.pnp
/frontend/.pnp.js

# testing
/frontend/coverage

# production
/frontend/build

# misc
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

/backend/HELP.md
/backend/target/
!/backend/.mvn/wrapper/maven-wrapper.jar
!/backend/**/src/main/**/target/
!/backend/**/src/test/**/target/

### STS ###
/backend/.apt_generated
/backend/.classpath
/backend/.factorypath
/backend/.project
/backend/.settings
/backend/.springBeans
/backend/.sts4-cache

### IntelliJ IDEA ###
/backend/.idea
/backend/*.iws
/backend/*.iml
/backend/*.ipr

### NetBeans ###
/backend/nbproject/private/
/backend/nbbuild/
/backend/dist/
/backend/nbdist/
/backend/.nb-gradle/
/backend/build/
!/backend/**/src/main/**/build/
!/backend/**/src/test/**/build/

### VS Code ###
.vscode/