.search_categories {
  border: solid 1px;
  padding: 0 5px;
  background-color: white;
  display: flex;
}

.search_categories input {
  background-color: transparent;
  border: none;
  height: 100%;
  width: 100%;
  margin-left: 5px;
}

.search_categories input:focus {
  outline: none;
}
