.DetailContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height:100%;
}
.detailTop {
  height: 30rem;
}
.detailBottom {
  height: 41rem;
  margin-bottom: 3rem;
}
