#search {  
  background: white url(../../../assets/images/magnifyingglass.png) left no-repeat;
  background-size: 18px Auto;
  background-origin: content-box;
  text-indent: 20px;    
  padding: 1%;
  border: hidden; 
  border-radius: 12px;
  font-size: large;
}