.add_article{
  padding: 1rem;
}

.add_article_fields{
  display: flex;
  justify-content: space-between;
}

.add_article_field{
  display: flex;
  flex-direction: column;
}

.article_img_example img{
  height: 80px;
  width: 80px;
}

.article_details{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30%;
}

.add_article_units{
  width: 30%;
}

.add_article_units input[type=number]{
  width: 4rem;
  margin: 0;
}

.button_box{
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  /* width: 100%; */
  padding-top: 1rem;
}

.add_article_button {
  width: 50%;
  color: var(--white);
  font-family: var(--heading);
  font-size: 30px;
  background-color: var(--darker-red);
  border: none;
  border-radius: 15px;
}
.add_article_button:hover{
  background-color: var(--lighter-red);
}
.add_article_button:disabled{
  cursor: default;
  background-color: grey;
}