.search_ingredients {
  border: solid 1px;
  padding: 0 5px;
  background-color: white;
  display: flex;
  margin-bottom: 1rem;
}

.search_ingredients input {
  background-color: transparent;
  border: none;
  height: 100%;
  width: 100%;
  margin-left: 5px;
}

.search_ingredients input:focus {
  outline: none;
}
