.Agenda {
    background-color: #95b82d;
    flex-grow: 2;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    box-shadow: 5px 10px 10px #888888;
  }