.Login {
    background-color: var(--darker-red);
    color: var(--white);
    flex-grow: 1;
    text-align: center;
    box-shadow: 5px 10px 10px #888888;
  }
  
  .login-header {
      margin: 1%;
  }
  .label {
    font-size: 10px;
    text-align: left;
  }

  
  #button {
    color: var(--white);
    font-size: 20px;
    background-color: var(--darker-orange);
    border: none;
    border-radius: 10px;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 5%;
    margin-bottom: 3%;
  }
