.tab-list {
  color: var(--darker-green);
  font-family: var(--heading); 
  font-size: 20px;
  border-bottom: 1px solid #ccc;
  padding-left: 0;
  margin: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
  /* border-radius: 167px 167px 0px 0px;
  box-shadow: 5px 10px 18px 0px #ccc; */

 
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}