.details_form{
  /* max-width: 80%; */
  /* height: 100%; */
  display: grid;
  grid-template-areas:
  'name name   name    name       name       name'
  'type type   kitchen kitchen    persons    persons'
  'image image image   categories categories categories'
  'image image image   categories categories categories'
  'image image image   categories categories categories'
  'desc  desc  desc    desc       desc       desc'
  'desc  desc  desc    desc       desc       desc'
  'desc  desc  desc    desc       desc       desc'
  'desc  desc  desc    desc       desc       desc';
  gap: 1rem;
}
.details_form .grid_item{
  display: flex;
  flex-direction: column;
  /* padding: 0.5rem 2rem; */

}

.details_form label{
  margin-bottom: 0.25rem;
}

/* .details_form input{
  width: 100%;
} */

.details_grid_name{
  grid-area: name;
}
.details_grid_type{
  grid-area: type;
}

.details_grid_kitchen{
  grid-area: kitchen;
}

.details_grid_persons{
  grid-area: persons;
}

.details_grid_image{
  grid-area: image;
  max-width: 30rem;
}
.image_example{
  /* min-height: 20rem;
  max-height: 20rem;
  max-width: 30rem;
  min-width: 30rem;
  border: solid; */
  width: 100%;
}
.image_example img{
  /* height: 100%;
  width: auto; */
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
}
dialog{
  width: 64%;
}
.details_grid_categories{
  grid-area: categories;
  min-width: 30rem;
}
.category_list{
  height: 100%;
  /* background-color: aqua; */
}
.category_item{
  display: flex;
  justify-content: space-between;
  padding: 2px 5px;
}
.category_item :hover{
  background-color: darkgrey;
}

.details_grid_desc{
  grid-area: desc;
}
