.ingredient_item{
  display: flex;
  border-bottom: solid 1px #efefef;
  padding: 0.5rem 0;
  /* background-color: grey; */
}
.ingredient_item h3{
  margin-top: 0;
}

.ingredient_item img{
  width: 80px;
  height: 80px;
}

.ingredient_item input[type=number]{
  width: 3.4rem;
  margin-right: 0.5rem;
  margin-left: 0.4rem;
}

.ingredient_item_quantity{
  display: flex;
  
}
.ingredient_item_quantity label{
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
}

.delete_button{
  border: none;
  background-color: transparent;
}