

:root {

  /* FONTS */
  --heading: "pretty_lilyregular";
  --regular: "Arial";

  /* COLORS */
  --dark-brown: #402214;
  --lighter-brown:  #774231;
  --lightest-brown: #aa4b1b;

  --darker-red: #b31714;
  --lighter-red: #dc3439;

  --kahki: #fff0d6;

  --darker-orange: #eb8d1f;
  --lighter-orange: #fca01f;

  --darker-green: #6e8722;
  --lighter-green: #95b82d;

  --white: #FFF;
  --black: #000;

}

.contact {
  color: var(--white);
  background-color: var(--darker-orange);
  padding-left: 2%;
}

.address {
  padding-left: 20%;
  padding-bottom: 5%;
}

div.address p {
  margin: 0;
}








