import magnifyingglass from 

:root {

  /* FONTS */
  --heading: "pretty_lilyregular";
  --regular: "Arial";

  /* COLORS */
  --dark-brown: #402214;
  --lighter-brown:  #774231;
  --lightest-brown: #aa4b1b;

  --darker-red: #b31714;
  --lighter-red: #dc3439;

  --kahki: #fff0d6;

  --darker-orange: #eb8d1f;
  --lighter-orange: #fca01f;

  --darker-green: #6e8722;
  --lighter-green: #95b82d;
  
  --white: #FFF;
  --black: #000;

}

/* Hero Image */

#container {
  position:relative;
}

#logo {
  position: absolute;
  left: 50px;
  top: 50px;
}

#searchbar {
  position: absolute;
  left: 1150px;
  top: 50px;
}

/* Searchbar */

#search {
  background-image: url("../src/assets/images/magnifyingglass.png");
  background-repeat: no-repeat;
  background-position: 2px 3px;
  border: hidden; 
  border-radius: 12px;
  font-size: large;
}

/* Contact  */

.contact {
  color: var(--white);
  background-color: var(--darker-orange);
  padding-left: 2%;
  height: 20%;
}

.address {
  padding-left: 20%;
  padding-bottom: 5%;
}

div.address p {
  margin: 0;
}









