
:root {

  /* FONTS */
  --heading: "pretty_lilyregular";
  --regular: "Arial";

  /* COLORS */
  --dark-brown: #402214;
  --lighter-brown:  #774231;
  --lightest-brown: #aa4b1b;

  --darker-red: #b31714;
  --lighter-red: #dc3439;

  --kahki: #fff0d6;

  --darker-orange: #eb8d1f;
  --lighter-orange: #fca01f;

  --darker-green: #6e8722;
  --lighter-green: #95b82d;
  
  --white: #FFF;
  --black: #000;

}
* {
  box-sizing: border-box;
}
.App {
  height: 2000px;
  display: flex;
  flex-direction: column;
  padding: 0px 6em 0px 6em;
}

h2 {
  font-family: var(--heading);
}

.HeroImage{  
  flex: 20%;
}

section{
  flex: 50%;
  display: flex;
  flex-direction: row;
}

.side {
  display: flex;
  align-items: stretch;  
  flex: 25%;
  flex-direction: column;
  margin: 3em 0 3em 3em;
  padding-bottom: 3em;
}

.Agenda {
  background-color: #95b82d;
  flex-grow: 2;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
}

.Agenda_item {  
  text-align: center;
  margin: 10px;
  flex-grow: 1;
}

.Login {
  background-color: var(--darker-red);
  color: var(--white);
  flex-grow: 1;
  text-align: center;

}

.label {
  font-size: 10px;
  text-align: left;
}

#button {
  color: var(--white);
  background-color: var(--darker-orange);
  border: none;
  border-radius: 10px;
}

.content {  
  flex: 75%;
  align-items: stretch;
  margin: 3em;
}

.Contact {
  flex: 10%;  
}

/* Hero Image */

#container {
  position:relative;
}

#logo {
  position: absolute;
  left: 50px;
  top: 50px;
}

#searchbar {
  position: absolute;
  left: 950px;
  top: 50px;
}

#hamburger {
  position: absolute;
  left: 1250px;
  top: 50px;
 
}

/* Searchbar */

#search {  
  background: white url(../src/assets/images/magnifyingglass.png) left no-repeat;
  background-size: 18px Auto;
  text-indent: 20px;
  padding-left: 17px;
  border: hidden; 
  border-radius: 12px;
  font-size: large;
}

/* Contact  */

.contact {
  color: var(--white);
  background-color: var(--darker-orange);
  padding-left: 2%;
  
}

.address {
  padding-left: 20%;
  padding-bottom: 5%;
}

div.address p {
  margin: 0;
}

/* Home Content */
.HomeContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Recipe Component */
.Recipe{
  /* border: solid; */
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
  margin: 0 auto 3em auto;
  height: 600px;
  box-shadow: 5px 10px 18px #888888;
}
.recipe_img {
  flex-basis: 4;
}
.recipe_img img{
  max-height: 270px;
}
.recipe_title_rating{
  flex-basis: 2;
  display: flex;
  flex-direction: row;
  padding: 0 5% 0 5%;
}
.recipe_title {
  flex-basis: 50%;
  /* margin-left: 5%; */
}
.recipe_rating{
  flex-basis: 50%;
  /* margin-right: 5%; */
}
.recipe_desc {
  flex-basis: 3;
  margin: 0 5% 0 5%;
}
.recipe_bottom {
  flex-basis: 1;
  display: flex;
  flex-direction: row;
}
.recipe_button{
  flex:50%;
  margin-left: 5%;
}
.recipe_stats{
  flex:50%;
  margin-right: 5%;
}




/* Detail Content */
.DetailContent {
  display: flex;
  flex-direction: column;
}
.detailTop {

}
.detailBottom {

}
.details {
  display: flex;
  flex-direction: row;
}
.details_img {
  flex: 50%;
}
.details_info {
  flex: 50%;
}
.title_rating {
  display:flex;
  flex-direction: row;
}
.details_title {
  flex: 50%;
}
.details_rating {
  flex: 50%;
  /* align-content: center; */
  padding: auto;
}
.kitchen_type  {
  display: flex;
  flex-direction: row;
}
.details_kitchen {
  flex: 50%;
}
.details_type {
  flex: 50%;
}









