.details {
  display: flex;
  flex-direction: row;
  box-shadow: 5px 10px 18px #888888;
  height: 100%;
}
.details_img {
  width: 50%;
}
.details_info {
  width: 50%;
  padding: 3% 5%;
}
.details_stats{
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.details_stats div{
  display: flex;
  align-items: center;
  padding: 0.5em;
}
.details_stats span{
  font-size: 18px;
  margin-left: 0.3rem;
}
.title_rating {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.details_title {
  font-size: 2.4rem;
  width: 70%;
}
.details_rating {
  /* width: 50%; */
  display: flex;
}
.kitchen_type  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.SpanFont{
  font-family: var(--heading);
  color: var(--darker-green);
  font-size: 30px;
  padding-right: 20%;
}
.details_kitchen {
  width: 50%;
}
.details_type {
  width: 50%;
}
.details_desc{
  height: 15rem;
  padding: 1rem 0;
}
.details_desc_inner{
  height: 100%;
  max-height: 100%;
  overflow: auto;
}
.details_buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.ListButton {
  color: var(--white);
  font-family: var(--heading);
  font-size: 30px;
  background-color: var(--darker-red);
  border: none;
  border-radius: 15px;
  width: 30%;
}
.FavouriteButton{
  border: none;
  background-color: white;
}