.numberCircle {
    border-radius: 50%;
    width: 6em;
    height: 6em;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--lighter-orange);
}
.numberCircle span{
    font: 32px Arial, sans-serif;
    font-weight: bold;
    color: var(--white);
}

.step {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1%;
}

.step span {
    margin: 2%;
}

@media (max-width:1600px) {
     .numberCircle {
        padding: 3%;

     }  
}