.agenda_item{
    height: 8rem;
    display: flex;
    flex-direction: row;
}
.agenda_calendar{
    padding: 0 1rem;
    display: flex;
    justify-content: center;
}
.agenda_item_info{
    padding: 0 1rem 0 0;
}
.agenda_item_title span{
    font-family: var(--heading);
    font-size: 1.8rem;
}
.agenda_item_date{
    display: flex;
    justify-content: space-between;
}